<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
        	<staticContent>
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".svgz" />
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/404" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="/404" responseMode="ExecuteURL" />
		</httpErrors>
	        <rewrite> 
	            <rules>
	                <rule name="Kunder" patternSyntax="ECMAScript" stopProcessing="true">
	                    <match url="kunder/(.*)" />
	                    <action type="Redirect" url="kunder/" appendQueryString="false" />
	                    <conditions>
	                        <add input="{REQUEST_URI}" pattern="/kunder/$" negate="true" />
	                    </conditions>
	                </rule>
	                <rule name="EPiServer" patternSyntax="ECMAScript" stopProcessing="true">
	                    <match url="om-oss/episerver(.*)" />
	                    <action type="Redirect" url="episerver/" appendQueryString="false" />
	                </rule>
			<rule name="Tjanster" patternSyntax="ECMAScript" stopProcessing="true">
	                    <match url="tjanster/(.*)" />
	                    <action type="Redirect" url="tjanster/" appendQueryString="false" />
	                    <conditions>
	                        <add input="{REQUEST_URI}" pattern="/tjanster/$" negate="true" />
	                    </conditions>
	                </rule>
			<rule name="Jobb" patternSyntax="ECMAScript" stopProcessing="true">
	                    <match url="jobb/(.*)" />
	                    <action type="Redirect" url="karriar/" appendQueryString="false" />
	                    <conditions>
	                        <add input="{REQUEST_URI}" pattern="/karriar/$" negate="true" />
	                    </conditions>
	                </rule>
	                <rule name="Nyheter" patternSyntax="ECMAScript" stopProcessing="true">
	                    <match url="nyheter/(.*)" />
	                    <action type="Redirect" url="/" appendQueryString="false" />
	                    <conditions>
	                        <add input="{REQUEST_URI}" pattern="/nyheter/$" negate="true" />
	                    </conditions>
	                </rule>
	                <rule name="Intranet1" patternSyntax="ECMAScript" stopProcessing="true">
	                    <match url="\\?tag=intranät" />
	                    <action type="Redirect" url="/intranat" appendQueryString="false" />
	                </rule>
	                <rule name="Intranet2" patternSyntax="ECMAScript" stopProcessing="true">
	                    <match url="\\?tag=Framtidens\\+intranät" />
	                    <action type="Redirect" url="/intranat" appendQueryString="false" />
	                </rule>
	                <rule name="Intranet3" patternSyntax="ECMAScript" stopProcessing="true">
	                    <match url="\\?tag=sociala\\+intranät" />
	                    <action type="Redirect" url="/intranat" appendQueryString="false" />
	                </rule>
	            </rules>
	        </rewrite>
	</system.webServer>
</configuration>
